<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD08dzFJEpUuXoTgC43SeDfyis2Wlc2GEE</string>
	<key>GCM_SENDER_ID</key>
	<string>769154140598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minimalApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatapptute-64935</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptute-64935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769154140598:ios:2288fc237c4f5330ee5917</string>
</dict>
</plist>